*{
    box-sizing: border-box;
}

/*custom input*/
.input-cus{
    margin-bottom: 30px;
}

a{ 
    color:black !important;
}

span{
    display: block;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/*overide and custom bootstrap .card*/
.card{
    border: none;
}

/*custom footer*/
footer{
    background-color: #607EED;
    color: white;
}

/*change border color*/
form input{
    border-color: #A5B2C2 !important;
}

/*custom margin for row*/
.row{
    margin: 0px !important;
}

/*change border*/
select{
    border: none !important;
}

/*create content with img background*/
.bg-header{
    width: 100%;
    height: 100%;
    background-image: url(img/bg-header.png) !important;
    background-position: center;
    background-size: cover;
}

/*custom card for loker*/
.loker-card{
    padding: 5px 0px !important;
    width: 25rem; 
    border: 1px solid !important;
    border-radius: 5px;
    
}

/*custom btn*/
.btn-cus{
    background: linear-gradient(147.76deg, #7DABFF 16.98%, #528FFF 82.47%) !important;
    border-radius: 4px !important;
    border: none;
}

/*override drowdown from bootstraps*/
.dropdown-menu[data-bs-popper]{
    left: auto !important;
    right: 5px !important;
    background: rgba(214, 213, 233, 0.35);

}

/*mengatur ukuran img*/
.img-cus{
    width: 160px;
    height: 80px;
}

.img-cus2{
    width: 80px;
    height: 80px;
}

/*custom card untuk search di landing page*/
.card-cus{
    margin-top: -125px;
    background-color: transparent;
    padding: 20px 50px !important;
}

/*custom font color on rigth navbar*/
.rigthnav-cus{
    color: white !important;
}

/*create background color while hover*/
.dropdown-item:hover{
    background-color: rgb(0, 0, 0,0.35) !important;
}

/*custom dropdown menu*/
.dropdown-menu-cus{
    background-color: rgb(255,255,255, 0.9) !important;
    width: 100% !important;
    padding-left: 10px;
}

h1{
    padding: 200px 10px;
}

/*change color while hover, override bootstrap*/
.btn-outline-dark:hover{
    background-color: #528FFF !important;
    border-color: #fff !important;
}

/*override row in md-10*/
.col-md-10 .row{
    height: 25px;
    width: 250px;
}

.img-content{
    margin-top: -50px;
}

.con-footer{
    padding: 30px 0px 30px 0px !important;
}

/*custom small devices*/
@media (min-width: 319px) and (max-width: 340px){
    .col-sm-5{
        flex: 0 0 auto;
        width: 30% !important;
    }
    .col-sm-7{
        flex: 0 0 auto;
        width: 80% !important;
    }

    .col-md-10{
        margin-bottom: 10px !important;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 319px) and (max-width: 576px) {
    .card{
        padding: 10px 10px;
    }

    .card-cus{
        padding: 10px 10px !important;
        font-size: small; 
        margin-top: -200px;
    }

    .card-body .row-loker{
        margin-top: 3rem !important;
    }

    .col-5{
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .col-10{
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .col-6{
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .container-cus{
        margin: 10px 0px !important;
    }

    .rigthnav-cus{
        color: black !important;
    }
    
    .btnnav{
        color: black !important;
        border-color: black !important;
    }

    .img-cus{
        height: 80px !important;
    }
    
    .img-cus2{
        width: 80px !important;
        height: 80px !important;
    }

    .col-md-10{
        flex: 0 0 auto;
        width: 80% !important;
    }
    .md-2-cus{
        flex: 0 0 auto;
        width: 20% !important;
    }

    h1{
        padding: 100px 10px 50px;
    }

    .col-6-cus{
        flex: 0 0  auto;
        width: 50% !important;
    } 
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child{
        display: block;
    }

    .con-carou{
        margin: 40px 7px 40px 0px !important;
    }

    .img-content{
        margin-top: 10px;
    }

    .col-1{
        width: 45% !important;
    }

    .col-11 .row>*{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col-md-3{
        margin-bottom: 1rem !important;
    }
}

/*custom small devices*/
@media (min-width: 350px) and (max-width: 576px) {
    .col-sm-6{
        flex: 0 0 auto;
        width: 50%;
    }

    .col-4-cus{
        flex: 0 0 auto;
        width: 50%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 577px) and (max-width: 991px){
    .col-10{
        flex: 0 0 auto !important;
        width: 100% !important;
    }
    .row{
        padding: 0px !important;
    }

    h4{
        font-size: 10pt;
    }
    
    .card{
        padding: 20px 100px;
    }
    .form-control{
        width: 100%;
    }
    .col-5 { 
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .fnav-item{
        padding: 0px !important;
    }
    
    .nav-link{
        padding-left: 12px !important;
    }
    
    .col-lg-2{
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .col-lg-4{
        flex: 0 0 auto !important;
        width: auto !important;
    }
    .col-lg-6{
        flex: 0 0 auto !important;
        width: auto !important;
    }

    .rigthnav-cus{
        color: black !important;
    }
    
    .btnnav{
        color: black !important;
        border-color: black !important;
    }

    .img-cus{
        width: 160px;
        height: 80px;
    }
    
    .img-cus2{
        width: 80px;
        height: 80px;
    }

    .col-4-cus{
        flex: 0 0 auto;
        width: 50% !important;
    }

    .card .col-lg-4{
        width: 100% !important;
    }

    .carousel-inner .carousel-item>div:after {
        display:contents;
    }

    .img-content{
        margin-top: 0px;
    }

    .col-sm-5{
        width: 35% !important;
    }

    .card-cus{
        margin-top: -170px !important;
    }

    .col-11{
        width: 100%;
    }

    .col-form{
        width: 100%;
    }

    .col-form input{
        border: 1px solid !important;
        border-color: #A5B2C2 !important;
    }

    .col-form .md-2-cus{
        width: 10%;
    }

    .col-form .col-md-10{
        width: 90%;
    }

    .col-select{
        width: 33.33%;
    }

    .col-1{
        width: 20%;
    }

    .col-md-3{
        margin-bottom: 1rem !important;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px){
    p{
        padding: 8px 10px !important;
    }
    
    .nav-link{
        padding: 8px 10px !important;
    }

    .fnav-item{
        padding-left: 0px;
    }
    
    .card{
        padding: 20px 200px;
    }

    .col-sm-6{
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .col-lg-2{
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .col-md-8{
        flex: 0 0 auto;
        width: 60% !important;
    }

    .img-cus{
        width: 160px;
        height: 80px;
    }
    
    .img-cus2{
        width: 80px;
        height: 80px;
    }

    .navbar-collapse{
        z-index: 3 !important;
    }

    .col-sm-7 p{
        padding-left: 0px !important;
    }

    .card-cus{
        padding: 20px 60px !important;
        margin-top: -130px !important;
    }

    .col-11{
        width: 100% !important;
    }

    .col-1{
        width: 15% !important;
    }
}

/*custom large deivices*/
@media (min-width: 992px){
    .md-3-cus{
        width: 19%;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1440px) { 
    .col-lg-2{
        flex: 0 0 auto !important;
        width: 33.33% !important;
    }
    
    .col-lg-4{
        flex: 0 0 auto !important;
        width: 33.33% !important;
    }
    .col-lg-6{
        flex: 0 0 auto !important;
        width: 33.33% !important;
    }

    .card{
        padding: 20px 300px;
    }
    
    .row{
        padding: 0px !important;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1441px) and (max-width: 3000px){
    .con-footer{
        padding: 30px 200px 30px 200px !important;
    }

    .card{
        padding: 20px 800px;
    }

    .card-cus{
        padding: 20px 400px !important;
    }
    
    .col-lg-2{
        flex: 0 0 auto !important;
        width: auto !important;
    }
    
    .col-lg-6{
        flex: 0 0 auto !important;
        width: auto !important;
    }
    .container{
        max-width: 100% !important;
        padding: 0px 200px;
    }

    .container .navbar{
        padding: 0px 10px;
    }
    .col-lg-4{
        flex: 0 0 auto !important;
        width: 33.33% !important;
    }
    
    .col-lg-2{
        flex: 0 0 auto !important;
        width: 26% !important;
    }

    
}

/*responsive carousel*/
/* medium - display 2  */
@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

@media (max-width: 768px) {
    /* .carousel-inner .carousel-item>div {
        display: none;
    } */

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

/*custom set carousel*/
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}
