*{
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-style: normal;
}

/*custom input*/
.input-cus{
    margin-bottom: 30px;
}

a{
    color:black !important;
}

span{
    display: block;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/*overide and custom bootstrap .card*/
.card{
    border: none;
}

/*custom footer*/
footer{
    background-color: #607EED;
    color: white;
}

/*change border color*/
form input{
    border-color: #A5B2C2;
}

/*custom margin for row*/
.row{
    margin: 0px !important;
}

/*create content with img background*/
.bg-header{
    width: 100%;
    height: 100%;
    background-image: url(img/img-header.png) !important;
    background-position: center;
    background-size: cover;
}

/*custom btn*/
.btn-cus{
    background: linear-gradient(147.76deg, #7DABFF 16.98%, #528FFF 82.47%) !important;
    border-radius: 4px !important;
    border-color: transparent !important;
}

/*override drowdown from bootstraps*/
.dropdown-menu[data-bs-popper]{
    left: auto !important;
    right: 5px !important;
    background: rgba(214, 213, 233, 0.35);

}

/*create background color while hover*/
.dropdown-item:hover{
    background-color: rgb(0, 0, 0,0.35) !important;
}

/*custom dropdown menu*/
.dropdown-menu-cus{
    background-color: rgb(255,255,255, 0.9) !important;
    width: 100% !important;
    padding-left: 10px;
}

h1{
    padding: 200px 10px;
}

/*change color while hover, override bootstrap*/
.btn-outline-dark:hover{
    background-color: #528FFF !important;
    border-color: #fff !important;
}

.btn-outline-primary:hover{
    background-color: #528FFF !important;
    border-color: #fff !important;
    color: #fff !important;
}

.col-md-10 .row{
    height: 25px;
    width: 250px;
}

.img-content{
    margin-top: -50px;
}

.con-footer{
    padding: 30px 0px 30px 0px !important;
}

/*custom btn in navbar*/
.btnnav{
    color: #528FFF !important;
    border-color: #528FFF !important;
}

.btn{
    padding: 0.375rem 1.75rem !important;
}

/*custom btn in navbar*/
nav .btn{
    padding: 0.75rem !important;
}

/*custom card for register*/
.card-reg{
    background: linear-gradient(90deg, #528FFF 7.63%, rgba(96, 126, 237, 0.1) 68.68%) !important;
}

/*custom card for options*/
.card-option{
    padding: 20px 50px !important; 
}

.card-option .card-body{
    padding: 125px 23px;
    border-radius: 8px;
}

.card-option .card-body:hover{
    border: 4px solid #528FFF;
    border-radius: 8px;
}

/*custom progress bar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #A5B2C2;
    padding-left: 0px;
    margin-top: 30px
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #step1:before {
    content: "1";
    color: #fff
}

#progressbar #step2:before {
    content: "2";
    color: #fff
}

#progressbar #step3:before {
    content: "";
    color: #fff
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #A5B2C2;
    border-radius: 50%;
    margin: auto;
    padding: 0px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #A5B2C2;
    position: absolute;
    left: 0;
    top: 21px;
    z-index: -1
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%
}

#progressbar li:nth-child(2):after {
    left: -50%
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #528FFF;
}

/*customize multiselect*/
.btn-group button{
    width: 100%;
    border: 1px solid #A5B2C2;
}

.btn-group ul{
    height: 100px;
    overflow: auto;
}

.invalid-feedback{
    margin-bottom: 20px;
}

/*customize multiselect*/
.btn-group span{
    width: auto !important;
    padding-left: 10px !important;
    display: contents !important;
    justify-content: flex-start !important;
}

.btn-group{
    width: 420px !important;
}

.multiselect-container{
    width: 100% !important;
}

.form-check-input:checked{
    background-color: #528FFF !important;
}

label{
    font-weight: 500;
}

/*custom card for upload loker*/
.card-upload {
    z-index: 0;
    padding: 20px 10px !important;
}

.nav-link span{
    padding: 0px; 
    text-align: right; 
    color: #808D9D;
}

/*container for text area*/
#desc-container{
    height: 400px;
}

/*customize quili*/
.ql-toolbar{
    border: none !important;
    padding: 0px !important;
}

.ql-toolbar span{
    width: auto;
    padding: 0px;
}

.ql-container{
    border-top: 1px solid #ccc !important;
    background-color: #E9E8FF;
}

/*create loader*/
#loader-wrapper {
    position: fixed;
    width: 1150px;
    height: 1150px;
    z-index: 1000;
    background-color: #f2f2f2;
}

#loading {
      display: block;
}
  
#loader-wrapper .loader-section {
      position: fixed;
      width: 51%;
      height: 100%;
      z-index: 1000;
      -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(0);  /* IE 9 */
      transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
      left: 0;
}

#loader-wrapper .loader-section.section-right {
      right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
      -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(-100%);  /* IE 9 */
      transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
      -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(100%);  /* IE 9 */
      transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loading {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;  
      transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
      visibility: hidden;

      -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateY(-100%);  /* IE 9 */
      transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.3s 1s ease-out;  
      transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
      display: none;
}

.input-cus2{
    width: 343px;
}

.step0{
    font-size: 16pt !important;
}

.con-footer{
    padding: 30px 0px 30px 0px !important;
}

/*custom small devices*/
@media (min-width: 319px) and (max-width: 340px){
    .col-sm-5{
        flex: 0 0 auto;
        width: 30% !important;
    }
    .col-sm-7{
        flex: 0 0 auto;
        width: 80% !important;
    }

    .col-md-10{
        margin-bottom: 10px !important;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 319px) and (max-width: 576px) {
    .step0{
        font-size: 10pt !important;
    }

    .card{
        padding: 10px 10px;
    }

    .card-cus{
        padding: 10px 10px !important;
        font-size: small; 
        margin-top: -200px;
    }

    .card-body .row-loker{
        margin-top: 3rem !important;
    }

    .card-option{
        padding: 20px 10px !important;
    }

    .card-option .col-4{
        width: 100% !important;
    }

    .col-5{
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .col-10{
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .col-6{
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .container-cus{
        margin: 10px 0px !important;
    }

    .rigthnav-cus{
        color: black !important;
    }

    .img-cus{
        height: 80px !important;
    }
    
    .img-cus2{
        width: 80px !important;
        height: 80px !important;
    }

    .col-md-10{
        flex: 0 0 auto;
        width: 80% !important;
    }
    .md-2-cus{
        flex: 0 0 auto;
        width: 20% !important;
    }

    h1{
        padding: 100px 10px 50px;
    }

    .col-6-cus{
        flex: 0 0  auto;
        width: 50% !important;
    } 
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child{
        display: block;
    }

    .con-carou{
        margin: 40px 7px 40px 0px !important;
    }

    .img-content{
        margin-top: 10px;
    }

    .col-1{
        width: 45% !important;
    }

    .col-11 .row>*{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col-md-3{
        margin-bottom: 1rem !important;
    }

    .nav-link span{
        text-align: left;
    }

    .btn-group{
        width: 222px !important;
    }

    .input-cus2{
        width: 222px !important;
    }

    .col-lg-6{
        width: 50%;
    }
}

/*custom small devices*/
@media (min-width: 350px) and (max-width: 576px) {
    .col-sm-6{
        flex: 0 0 auto;
        width: 50%;
    }

    .col-4-cus{
        flex: 0 0 auto;
        width: 50%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 577px) and (max-width: 991px){
    .nav-link span{
        text-align: left;
    }

    .col-10{
        flex: 0 0 auto !important;
        width: 100% !important;
    }
    .row{
        padding: 0px !important;
    }

    h4{
        font-size: 10pt;
    }
    
    .card{
        padding: 20px 100px;
    }

    .card-option .card-body{
        padding: 80px 20px !important;
    }

    .form-control{
        width: 100%;
    }
    .col-5 { 
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .fnav-item{
        padding: 0px !important;
    }
    
    .nav-link{
        padding-left: 12px !important;
    }
    
    .col-lg-2{
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .col-lg-4{
        flex: 0 0 auto !important;
        width: auto !important;
    }
    .col-lg-6{   
        width: 50% !important;
    }

    .rigthnav-cus{
        color: black !important;
    }
    
    .btnnav{
        color: black !important;
        border-color: black !important;
    }

    .img-cus{
        width: 160px;
        height: 80px;
    }
    
    .img-cus2{
        width: 80px;
        height: 80px;
    }

    .col-4-cus{
        flex: 0 0 auto;
        width: 50% !important;
    }

    .card .col-lg-4{
        width: 100% !important;
    }

    .carousel-inner .carousel-item>div:after {
        display:contents;
    }

    .img-content{
        margin-top: 0px;
    }

    .col-sm-5{
        width: 35% !important;
    }

    .card-cus{
        margin-top: -170px !important;
    }

    .col-11{
        width: 100%;
    }

    .col-form{
        width: 100%;
    }

    .col-form input{
        border: 1px solid !important;
        border-color: #A5B2C2 !important;
    }

    .col-form .md-2-cus{
        width: 10%;
    }

    .col-form .col-md-10{
        width: 90%;
    }

    .col-select{
        width: 33.33%;
    }

    .col-1{
        width: 20%;
    }

    .col-md-3{
        margin-bottom: 1rem !important;
    }

    .btn-group{
        width: 620px !important;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px){    
    .btn-group{
        width: 348px !important;
    }

    .input-cus2{
        width: 273px;
    }

    .nav-link{
        padding: 8px 10px !important;
    }

    .fnav-item{
        padding-left: 0px;
    }
    
    .card{
        padding: 20px 200px;
    }

    .card-reg{
        padding: 40px 550px 40px 50px !important;
    }

    .col-sm-6{
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .col-lg-2{
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .col-md-8{
        flex: 0 0 auto;
        width: 60% !important;
    }

    .img-cus{
        width: 160px;
        height: 80px;
    }
    
    .img-cus2{
        width: 80px;
        height: 80px;
    }

    .navbar-collapse{
        z-index: 3 !important;
    }

    .col-sm-7 p{
        padding-left: 0px !important;
    }

    .card-cus{
        padding: 20px 60px !important;
        margin-top: -130px !important;
    }

    .col-11{
        width: 100% !important;
    }

    .col-1{
        width: 15% !important;
    }
}

/*custom large devices*/
@media (min-width: 992px){
    .md-3-cus{
        width: 19%;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1440px) { 
    .input-cus2{
        width: 420px;
    }
    
    .col-lg-2{
        flex: 0 0 auto !important;
        width: 33.33% !important;
    }
    
    .col-lg-4{
        flex: 0 0 auto !important;
        width: 33.33% !important;
    }

    .card-reg{
        padding: 40px 680px 40px 50px !important;
    }

    .card{
        padding: 20px 300px;
    }
    
    .row{
        padding: 0px !important;
    }
}

/*custom x-large devices*/
@media (min-width: 1400px){
    .btn-group{
        width: 494px !important;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1441px) and (max-width: 3000px){
    .con-footer{
        padding: 30px 200px 30px 200px !important;
    }

    .btn-group{
        width: 857px !important;
    }
    
    .input-cus2{
        width: 777px;
    }

    .card{
        padding: 20px 800px;
    }

    .card-cus{
        padding: 20px 400px !important;
    }

    .card-reg{
        padding: 40px 1500px 40px 215px !important;
    }
    
    .col-lg-2{
        flex: 0 0 auto !important;
        width: auto !important;
    }
    
    .container{
        max-width: 100% !important;
        padding: 0px 200px;
    }

    .container .navbar{
        padding: 0px 10px;
    }
    .col-lg-4{
        flex: 0 0 auto !important;
        width: 33.33% !important;
    }
    
    .col-lg-2{
        flex: 0 0 auto !important;
        width: 26% !important;
    }

    
}
